@{
    ViewBag.Title = "About the Castle";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The castle is a luxurious 30 room building constructed in the 14th century located in the heart of the Yorkshire Dales.</p>
<p>We are open 365 days a year for day visits, corporate events, and longer stay bookings.</p>
