@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Castle<br />
    Yorkshire
    YY1 8YY<br />
    <abbr title="Phone">P:</abbr>
    1111-222-4444
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:castle_enquiries@example.com">castle_enquiries@example.com</a><br />
</address>