@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Castle Getaway</h1>
    <p class="lead">Thank you for your interest in our holiday retreat. Please use the links to navigate the site.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make a reservation</h2>
        <p>
            Book a reservation at the castle.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Book Reservation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Feedback</h2>
        <p>See what other visitors have to say about their stay at the castle.</p>
        <p><a class="btn btn-default" href="/Feedback">View Feedback &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Send us a message with any other detailed requests you may have.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact &raquo;</a></p>
    </div>
</div>